[DEFAULT]
baseUrl="https://www.gamestar.de/kalender/"
userAgent="Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36"

[FormData]
title=
firstname=
lastname=
street=
streetnumber=
adressext=
zipcode=
city=
country=
email=
age=
